<h1>Listing stocks</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th>股价</th>
    <th>增长_VS_PE</th>
  </tr>

<% @stocks.each do |stock| %>
  <tr>
    <td><%= link_to "#{stock.code}#{riselabel(stock)}", stockurl(stock.code,stock.stamp), :target=>'_blank' %></td>
    <td><%= truncate(stock.name, length:12)  %></td>
    <td><%= stock.price %></td>
    <td><%= stock.good["uprate_vs_pe"] %></td>
    <td><%= link_to "本地图表", stock%></td>
    <td><%= link_to "同花顺图表", link_to_tonghuashun_finance(stock), :target=>'_blank'%></td>
  </tr>
<% end %>
</table>

<br />
