<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @stock.code %>
</p>

<p>
  <b>Stamp:</b>
  <%= @stock.stamp %>
</p>


<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
