<%= javascript_include_tag "application" %>
<p id="notice"><%= notice %></p>
<p>
  <%= "#{@stock.code},#{@stock.name}" %>
  <%= link_to 'Back', stocks_path %>
  <%= link_to 'refresh', stock_path(@stock,refresh:true) %>
  <%= link_to 'without refresh', stock_path(@stock) %>
  <%= link_to "同花顺图表", link_to_tonghuashun_finance(@stock), :target=>'_blank'%>
  <%= link_to "QQ自选股", stockurl(@stock.code,@stock.stamp), :target=>'_blank' %>

  <table>
    <tr>
      <th>年报</th>
      <th>季报</th>
    </tr>
    <tr>
      <td>
        <% @fy_chart.each do |name,chart| %>
            <br>
            <%= high_chart "fy_#{name}", chart %>
        <% end %>
      </td>
      <td>
        <% @q_chart.each do |name,chart| %>
            <br>
            <%= high_chart "q_#{name}", chart %>
        <% end %>
      </td>
    </tr>
  </table>

<table>
  <tr>
    <th>财报日期</th>
    <th>财报类型</th>
    <th>remark</th>
    <th>每股基本收益</th>
    <th>每股现金</th>
    <th>现金及等价物</th>
    <th>remark</th>
    <th>长期负债</th>
    <th>股东权益</th>
    <th>remark</th>
    <th>流动负债</th>
    <th>流动资产</th>
  </tr>

  <% @fin_reports.each do |fin_report| %>
      <tr>
        <td><%= fin_report.fd_repdate.to_date %></td>
        <td><%= FinReport.fin_report_label fin_report.fd_type %></td>
        <td></td>
        <td><%= fin_report.fd_profit_base_share %></td>
        <td><%= FinReport.cash_base_share(@stock.gb,fin_report.fd_cash_and_deposit)  %></td>
        <td><%= fin_report.fd_cash_and_deposit %></td>
        <td></td>
        <td><%= fin_report.fd_non_liquid_debts %></td>
        <td><%= fin_report.fd_stkholder_rights %></td>
        <td></td>
        <td><%= fin_report.fd_liquid_debts %></td>
        <td><%= fin_report.fd_liquid_assets %></td>
      </tr>
  <% end %>
</table>
</p>

<%= link_to 'Back', stocks_path %>
