<%= javascript_include_tag "application" %>
<p id="notice"><%= notice %></p>
<p>
  <%= "#{@stock.code},#{@stock.name}" %>
  <%= link_to 'Back', stocks_path %>
  <%= link_to 'refresh', stock_path(@stock,refresh:true) %>
  <%= link_to 'without refresh', stock_path(@stock) %>
  <%= link_to "同花顺图表", link_to_tonghuashun_finance(@stock), :target=>'_blank'%>
  <%= link_to "QQ自选股", stockurl(@stock.code,@stock.stamp), :target=>'_blank' %>
  |
  <%= link_to "顶", {action:"mark",id:@stock.id,mark:"good"}, :remote=>true %>
  <%= link_to "踩", {action:"mark",id:@stock.id,mark:"bad"}, :remote=>true %>
  <%= link_to "clear", {action:"mark",id:@stock.id,mark:"clear"}, :remote=>true %>
  <br>
  <%= @stock.good.map{|k,v| "#{k}:#{v}"}.join("<br/>").html_safe %>
  <br>
  <%= @stock.info["key"].merge!(pe:@stock.pe);@stock.info.map{|k,v| "#{k}:#{v}"}.join("<br/>").html_safe %>

  <table>
    <tr>
      <th>年报</th>
      <th>季报</th>
    </tr>
    <tr>
      <td>
        <% @fy_chart.each do |name,chart| %>
            <br>
            <%= high_chart "fy_#{name}", chart %>
        <% end %>
      </td>
      <td>
        <% @q_chart.each do |name,chart| %>
            <br>
            <%= high_chart "q_#{name}", chart %>
        <% end %>
      </td>
    </tr>
  </table>

<table border="1" cellspacing="0" cellpadding="1">
  <tr>
    <th>财报日期</th>
    <th>财报类型</th>
    <th>|</th>
    <th>每股基本收益</th>
    <th>收益增长率</th>
    <th>股东权益回报率%</th>
    <th>|</th>
    <th>净利润</th>
    <th>长期负债</th>
    <th>净利润/长期负债</th>
    <th>|</th>
    <th>现金流</th>
    <th>现金流分析</th>
  </tr>

  <% @fin_reports.each_with_index do |fin_report,idx| %>
      <tr>
        <td><%= fin_report.fd_repdate.to_date %></td>
        <td><%= FinReport.fin_report_label fin_report.fd_type %></td>
        <td></td>
        <td><%= fin_report.fd_profit_base_share %></td>
        <td><%= @q_matrix[:up_rate_of_profit][idx] %></td>
        <td><%= fin_report.profit_of_holderright %></td>
        <td></td>
        <td><%= fin_report.profit %></td>
        <td><%= fin_report.fd_non_liquid_debts %></td>
        <td><%= (fin_report.profit/fin_report.fd_non_liquid_debts).round(1) if fin_report.profit&&fin_report.fd_non_liquid_debts %></td>
        <td></td>
        <th><%= fin_report.fd_cash_and_deposit %></th>
        <td><%= @q_matrix[:cash_state][idx][:label] if @q_matrix[:cash_state][idx] %></td>
      </tr>
  <% end %>
</table>
</p>

<%= link_to 'Back', stocks_path %>
