<%= form_for(@yahoo_deal) do |f| %>
  <% if @yahoo_deal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@yahoo_deal.errors.count, "error") %> prohibited this yahoo_deal from being saved:</h2>

      <ul>
      <% @yahoo_deal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :deals %><br />
    <%= f.text_area :deals %>
  </div>
  <div class="field">
    <%= f.label :trend %><br />
    <%= f.text_area :trend %>
  </div>
  <div class="field">
    <%= f.label :judge %><br />
    <%= f.text_area :judge %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
