<h1>Listing yahoo_deals</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Deals</th>
    <th>Trend</th>
    <th>Judge</th>
    <th></th>
  </tr>

<% @yahoo_deals.each do |yahoo_deal| %>
  <tr>
    <td><%= yahoo_deal.code %></td>
    <td><%= yahoo_deal.judge %></td>
    <td><%= link_to 'Show', yahoo_deal %></td>    
  </tr>
<% end %>
</table>

<br />
<%= will_paginate @yahoo_deals %>
<br />
<%= "total: #{@yahoo_deals.total_entries}" %>
<br />
<%= link_to 'New Yahoo deal', new_yahoo_deal_path %>
