<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @yahoo_deal.code %>
</p>

<p>
  <b>Deals:</b>
  <%= @yahoo_deal.deals %>
</p>

<p>
  <b>Trend:</b>
  <%= @yahoo_deal.trend %>
</p>

<p>
  <b>Judge:</b>
  <%= @yahoo_deal.judge %>
</p>


<%= link_to 'Edit', edit_yahoo_deal_path(@yahoo_deal) %> |
<%= link_to 'Back', yahoo_deals_path %>
