<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @gupiao_deal.name %>
</p>

<p>
  <b>Code:</b>
  <%= @gupiao_deal.code %>
</p>

<p>
  <b>Pc:</b>
  <%= @gupiao_deal.pc %>
</p>

<p>
  <b>Op:</b>
  <%= @gupiao_deal.op %>
</p>

<p>
  <b>Vo:</b>
  <%= @gupiao_deal.vo %>
</p>

<p>
  <b>Tu:</b>
  <%= @gupiao_deal.tu %>
</p>

<p>
  <b>Hi:</b>
  <%= @gupiao_deal.hi %>
</p>

<p>
  <b>Lo:</b>
  <%= @gupiao_deal.lo %>
</p>

<p>
  <b>La:</b>
  <%= @gupiao_deal.la %>
</p>

<p>
  <b>Time:</b>
  <%= @gupiao_deal.time %>
</p>

<p>
  <b>Sy:</b>
  <%= @gupiao_deal.sy %>
</p>

<p>
  <b>Lt:</b>
  <%= @gupiao_deal.lt %>
</p>

<p>
  <b>Sz:</b>
  <%= @gupiao_deal.sz %>
</p>

<p>
  <b>Hs:</b>
  <%= @gupiao_deal.hs %>
</p>


<%= link_to 'Edit', edit_gupiao_deal_path(@gupiao_deal) %> |
<%= link_to 'Back', gupiao_deals_path %>
